*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: ralewaylight;
}

header {
    background: black;
    color: white;
}

.header__container{
    text-align:center;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-list__item {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    font-weight: bold
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

h1{
    text-transform: uppercase;
    padding: 10px;

}

.color{
    color: #00CC99!important;
}

.nav-list__link{
    text-decoration: none;
    padding: 20px 0;
    display: block;
    text-transform: uppercase;
}

.subnav-list{
    left: -50px;
    right: -50px;
    border-top: 0;
    display: none;
    position: absolute;
}

.nav-list__item:hover > .subnav-list {
    display: block;
    background: black;
}

.subnav-list__link {
    text-transform: uppercase;
}

.first{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(to bottom, white, silver);
    text-align:center;
    padding-left: 100px;
    padding-right: 150px;
    padding-top: 50px;


}

.left-triangle {
    width: 50px;
    height: 50px;
    border-top: 3px solid transparent;
    border-bottom: 3px solid #00CC99;
    border-left: 3px solid #00CC99;
    border-right: 3px solid transparent;
    padding-right: 50px;
    margin: auto;
    transform: rotate(45deg);
}

.right-triangle {
    width: 50px;
    height: 50px;
    border-top: 3px solid #00CC99;
    border-bottom: 3px solid transparent;
    border-left: 3px solid transparent;
    border-right: 3px solid #00CC99;
    padding-left: 50px;
    margin: auto;
    transform: rotate(45deg);
}

.first h1{
    padding-top: 50px;
    padding-bottom: 30px;
}

.first p {
    font-size: 18px;

}

button{
    background-color: #00CC99;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    margin: 50px;
    cursor: pointer;

}

.first a{
    font-size: 18px;

}
